
<table>
<tr>
  <th colspan="8>Information on standard {{.title}}</th>
</tr>
<tr>
  <th>Title</th>
  <td colspan="7">{{}}</td>
</tr>
<tr>
  <th>Description</th><td colspan="7"></td>
</tr>
<tr>
  <th>Organisation</th><td>{{}}</td>
  <th>Publication number</th><td>{{}}</td>
  <th>Date</th><td>{{}}</td>
  <th>Version</th><td></td>
</tr>	
<tr>
  <th>Contains</th><td colspan="7"></td>
</tr>
<tr>
  <th>Corrections</th><td colspan="7">---</td>
</tr>
<tr>
  <th>Also known as</th><td>---</td>
</tr>
<tr>
  <th>Applicability</th><td colspan="7"></td>
</tr>
<tr>
  <th colspan="2">Status</th><td colspan="6">Modifications</td>

  1998-11-10: Added after NISP version 0.1.
  2001-11-20: Changed after NISP version 0.3.
  2003-07-31: Changed after NISP version 0.5.
  2005-09-23: Changed after NISP version 0.7.
</tr>
<tr>
  <th>External link</th><td colspan="7">	:	https://www.iol.unh.edu/services/testing/vganylan/</td>
</tr>

Referenced from	:	---
Contained in	:	---

</table>
