.select-taxonomy {
  width: 25%;
}

.select-title {
  width: 15;
}

.select-remarks {
  width: 30%;
}

.select-taxonomy {
  width: 30%;
  
}




table.standards {

}


table.profile {

}

table.history {

}
